@import './assets/scss/normalize.scss';

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #e5e5e5;
  margin: 0;
}
html,
body {
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
