<div class="projects__content">
  <!-- Add Project button -->
  <div class="projects__button">
    <button (click)="onAddProject()">Add Project</button>
  </div>

  <!-- Project list -->
  <ng-container *ngIf="projects$ | async as projects">
    <!-- Confirmation dialog -->
    <p-confirmDialog />

    <!-- Table -->
    <p-table
      [value]="projects"
      [paginator]="true"
      [rows]="10"
      [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Project Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Team Size</th>
          <th>Tech Stack</th>
          <th>Roles</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-project>
        <tr (click)="onSelect(project._id)">
          <td>{{ project.name }}</td>
          <td>{{ project.startDate | date }}</td>
          <td>{{ project.endDate ? (project.endDate | date) : 'Ongoing' }}</td>
          <td>{{ project.teamSize }}</td>
          <td>{{ project.techStack?.join(', ') }}</td>
          <td>{{ project.roles?.join(', ') }}</td>
          <td>
            <button
              (click)="onDelete(project._id, $event)"
              class="projects__button_delete">
              <i
                class="pi pi-trash"
                title="Delete Project"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>

<p-toast />
