<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a
          routerLink="./employees"
          class="sidebar__link"
          >Employees</a
        >
      </li>
      <li class="sidebar__item">
        <a
          routerLink="./projects"
          class="sidebar__link"
          >Projects</a
        >
      </li>
      <li class="sidebar__item">
        <a
          routerLink="./resume"
          class="sidebar__link"
          >Resume</a
        >
      </li>
    </ul>
  </nav>
</aside>
