@import '../../../../../../assets/scss/helpers/variables.scss';

.create-employee {
  background-color: $bg-additional-color;
  padding: 3.5rem;
  min-height: $page-container-height;

  &__title {
    margin-bottom: 2rem;
  }
}
