@import '../../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../../assets/scss/helpers/mixins.scss';
@import '../../../../../../assets/scss/helpers/placeholders.scss';

.create-cv {
  &__content {
    padding: 3.5rem;
    background: $header-title-color;
    min-height: $page-container-height;
  }

  &__button {
    margin-bottom: 2.4rem;
    @include flex-center(row, end, normal);

    button {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      @include button-styles();

      &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
      }
    }
  }
}
