<div class="edit-employee">
  <!-- Tab navigation -->
  <ul class="edit-employee__tabs">
    <li
      [class.active]="activeTab === 'info'"
      (click)="setActiveTab('info')">
      Info
    </li>
    <li
      [class.active]="activeTab === 'cv'"
      (click)="setActiveTab('cv')">
      CV
    </li>
  </ul>

  <!-- Tab content -->
  <div class="edit-employee__content">
    <ng-container *ngIf="activeTab === 'info'">
      <!-- Employee form -->
      <form
        [formGroup]="employeeForm"
        class="edit-employee__form">
        <div class="edit-employee__field">
          <label
            for="firstName"
            class="edit-employee__label"
            >First Name</label
          >
          <input
            id="firstName"
            formControlName="firstName"
            pInputText
            class="edit-employee__input" />
          <div
            class="edit-employee__error"
            [ngClass]="{
              'edit-employee__error-visible':
                employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched,
            }">
            Please, specify the field
          </div>
        </div>

        <div class="edit-employee__field">
          <label
            for="lastName"
            class="edit-employee__label"
            >Last Name</label
          >
          <input
            id="lastName"
            formControlName="lastName"
            pInputText
            class="edit-employee__input" />
          <div
            class="edit-employee__error"
            [ngClass]="{
              'edit-employee__error-visible':
                employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched,
            }">
            Please, specify the field
          </div>
        </div>

        <div class="edit-employee__field">
          <label
            for="email"
            class="edit-employee__label"
            >Email</label
          >
          <input
            id="email"
            formControlName="email"
            pInputText
            class="edit-employee__input" />
          <div
            class="edit-employee__error"
            [ngClass]="{
              'edit-employee__error-visible': employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched,
            }">
            Please, specify the field
          </div>
        </div>

        <div class="edit-employee__field">
          <label
            for="specialization"
            class="edit-employee__label"
            >Specialization</label
          >
          <input
            id="specialization"
            formControlName="specialization"
            pInputText
            class="edit-employee__input" />
          <div
            class="edit-employee__error"
            [ngClass]="{
              'edit-employee__error-visible':
                employeeForm.get('specialization')?.invalid && employeeForm.get('specialization')?.touched,
            }">
            Please, specify the field
          </div>
        </div>

        <div class="edit-employee__field">
          <label
            for="department"
            class="edit-employee__label"
            >Department</label
          >
          <input
            id="department"
            formControlName="department"
            pInputText
            class="edit-employee__input" />
          <div
            class="edit-employee__error"
            [ngClass]="{
              'edit-employee__error-visible':
                employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched,
            }">
            Please, specify the field
          </div>
        </div>
      </form>

      <!--Buttons-->
      <div class="edit-employee__buttons">
        <button
          class="edit-employee__buttons_submit"
          type="submit"
          (click)="onSubmit()"
          [disabled]="employeeForm.invalid">
          Save
        </button>
        <button
          class="edit-employee__buttons_cancel"
          type="button"
          (click)="onCancel()">
          Cancel
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab === 'cv'">
      <!-- CV content -->
    </ng-container>
  </div>
</div>
