<div class="cvs__content">
  <!--Create CV button-->
  <div class="cvs__button">
    <button [routerLink]="['../create']">Create CV</button>
  </div>

  <!--CVs list-->
  <ng-container *ngIf="cvs$ | async as cvs">
    <!--Confirmation dialog-->
    <p-confirmDialog />

    <!--Table-->
    <p-table
      [value]="cvs"
      [paginator]="true"
      [rows]="10"
      [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>CV Name</th>
          <th>Employee</th>
          <th>Department</th>
          <th>Specialization</th>
          <th>Skills</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-cv>
        <tr (click)="onSelect(cv._id)">
          <td>{{ cv.name }}</td>
          <td>{{ cv.employeeId }}</td>
          <td>{{ cv.department }}</td>
          <td>{{ cv.specialization }}</td>
          <td>{{ cv.skills }}</td>
          <td>
            <button
              (click)="onDelete(cv._id, $event)"
              class="cvs__button_delete">
              <i
                class="pi pi-trash"
                title="Delete cv"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
<p-toast />
