//Global
$font-primary-color: #000000;
$font-additional-color: #4a5568;
$bg-color: #f4f4f4;
$error-color: #ff4d4f;

//Input
$input-padding: 0.8rem;
$input-font-size: 1.4rem;
$input-label-font-size: 1.2rem;
$input-border-radius: 0.2rem;
$input-placeholder-color: #d9d9d9;

//Button
$btn-border-radius: 0.2rem;

//Link
$link-color: #3182ce;
$link-hover-color: #2b6cb0;

//Auth
$auth-form-width: 36rem;
$auth-bg-color: #f0f2f5;
$auth-subtitle-color: #636363;

//Header
$header-bg: #001529;
$header-height: 48px;
$header-title-color: #ffffff;

//Sidebar
$sidebar-width: 208px;
$sidebar-bg-color: #ffffff;
$sidebar-link-hover: #1890ff;
