@import '../../../assets/scss/helpers/variables.scss';

.main-content {
  display: flex;
  min-height: calc(100vh - $header-height);

  .page-content {
    margin-left: $sidebar-width;
    flex: 1;
    background-color: $bg-color;
  }

  .page-container {
    padding: 2rem 0;
  }
}
