<div class="create-employee">
  <h2 class="create-employee__title">Create Employee</h2>

  <form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    class="create-employee__form">
    <div class="create-employee__field">
      <label
        for="firstName"
        class="create-employee__label"
        >First Name</label
      >
      <input
        id="firstName"
        formControlName="firstName"
        pInputText
        class="create-employee__input" />
      <div
        class="create-employee__error"
        [ngClass]="{
          'create-employee__error-visible':
            employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched,
        }">
        Please, specify the field
      </div>
    </div>

    <div class="create-employee__field">
      <label
        for="lastName"
        class="create-employee__label"
        >Last Name</label
      >
      <input
        id="lastName"
        formControlName="lastName"
        pInputText
        class="create-employee__input" />
      <div
        class="create-employee__error"
        [ngClass]="{
          'create-employee__error-visible':
            employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched,
        }">
        Please, specify the field
      </div>
    </div>

    <div class="create-employee__field">
      <label
        for="email"
        class="create-employee__label"
        >Email</label
      >
      <input
        id="email"
        formControlName="email"
        pInputText
        class="create-employee__input" />
      <div
        class="create-employee__error"
        [ngClass]="{
          'create-employee__error-visible': employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched,
        }">
        Please, specify the field
      </div>
    </div>

    <div class="create-employee__field">
      <label
        for="specialization"
        class="create-employee__label"
        >Specialization</label
      >
      <input
        id="specialization"
        formControlName="specialization"
        pInputText
        class="create-employee__input" />
      <div
        class="create-employee__error"
        [ngClass]="{
          'create-employee__error-visible':
            employeeForm.get('specialization')?.invalid && employeeForm.get('specialization')?.touched,
        }">
        Please, specify the field
      </div>
    </div>

    <div class="create-employee__field">
      <label
        for="department"
        class="create-employee__label"
        >Department</label
      >
      <input
        id="department"
        formControlName="department"
        pInputText
        class="create-employee__input" />
      <div
        class="create-employee__error"
        [ngClass]="{
          'create-employee__error-visible':
            employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched,
        }">
        Please, specify the field
      </div>
    </div>
  </form>
  <div class="create-employee__buttons">
    <button
      class="create-employee__buttons_submit"
      type="submit"
      [disabled]="employeeForm.invalid">
      Save
    </button>
    <button
      class="create-employee__buttons_cancel"
      type="button"
      (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>
