@import '../../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../../assets/scss/helpers/placeholders.scss';
@import '../../../../../../assets/scss/helpers/mixins.scss';

.cv {
  &__form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 0;
  }

  &__field {
    @include flex-center(column, normal, normal);

    &:nth-child(1) {
      grid-column: 1 / -1;
    }

    // Second line:
    &:nth-child(2) {
      grid-column: 1 / 2;
    }
    &:nth-child(3) {
      grid-column: 2 / 3;
    }
    &:nth-child(4) {
      grid-column: 3 / 4;
    }

    // Third line:
    &:nth-child(5) {
      grid-column: 1 / 3;
    }
    &:nth-child(6) {
      grid-column: 3 / -1;
    }

    // Fourth and fifth lines:
    &:nth-child(7),
    &:nth-child(8) {
      grid-column: 1 / -1;
    }

    ::ng-deep .p-chips {
      display: inline;
    }

    ::ng-deep .p-chips-multiple-container {
      padding: 0.5rem;
    }

    ::ng-deep .p-inputtext {
      font-size: $input-font-size;
    }

    ::ng-deep .p-chips-input-token input {
      font-size: $input-font-size;
    }

    ::ng-deep .p-chips-token-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__label {
    margin-bottom: 0.5rem;
    font-size: $input-label-font-size;
  }

  &__input {
    @extend %input-styles;
  }

  &__error {
    color: $error-color;
    font-size: 1.2rem;
    height: 1.2rem;
    margin-top: 0.5rem;
    opacity: 0;
    @extend %transition;
  }

  &__error-visible {
    opacity: 1;
  }

  &__input-readonly {
    background-color: #f0f0f0;
    border-color: #ddd;
    color: #6c757d;
    cursor: not-allowed;
  }

  &__button {
    margin-bottom: 2.4rem;
    @include flex-center(row, end, normal);

    button {
      font-size: $btn-font-size;
      padding: 1rem 1.5rem;
      @include button-styles();

      &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
      }
    }
  }
}
