@import '../../../../../../assets/scss/helpers/variables.scss';

.edit-project {
  &__content {
    padding: 3.5rem;
    background: $header-title-color;
    min-height: $page-container-height;
  }
}
