@import '../../../../assets/scss//helpers/mixins.scss';
@import '../../../../assets/scss/helpers/variables.scss';
@import '../../../../assets/scss/helpers/placeholders.scss';

.header {
  @include flex-center();
  padding: 1rem;
  background-color: $header-bg;
  height: $header-height;
  padding: 0.8rem 1.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

  &__title {
    @include flex-center(row, normal, center);
  }

  &__logo {
    margin-right: 1.2rem;
  }

  &__text {
    font-size: 1.8rem;
    color: $header-title-color;
    font-weight: bold;
  }

  &__toolbar {
    @include flex-center(row, normal, center);
  }

  &__user {
    @include flex-center(row, normal, center);
    margin: 0;
    cursor: pointer;

    &-icon {
      margin-right: 1.2rem;
      @extend %transition;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__user-name {
    font-size: 1.4rem;
    color: $header-title-color;
  }
}
