<header class="header">
  <!--Application Title-->
  <div class="header__title">
    <img
      src="../../../../assets/icons/logo.svg"
      alt="Logo"
      width="32"
      height="32"
      class="header__logo" />
    <span class="header__text">CV Generator</span>
  </div>

  <!--User-->
  <div class="header__toolbar">
    <p class="header__user">
      <!--User Logo-->
      <img
        src="../../../../assets/icons/header/avatar-batman.svg"
        width="24"
        height="24"
        alt="User"
        class="header__user-icon"
        (click)="menu.toggle($event)" />
    </p>

    <!--User Menu-->
    <p-menu
      #menu
      [model]="menuItems"
      [popup]="true"></p-menu>
  </div>
</header>
