<header class="header">
  <div class="header__title">
    <img
      src="../../../../assets/icons/logo.svg"
      alt="Logo"
      width="32"
      height="32"
      class="header__logo" />
    <span class="header__text">CV Generator</span>
  </div>

  <div class="header__toolbar">
    <p class="header__user">
      <img
        src="../../../../assets/icons/header/user-icon.png"
        width="24"
        height="24"
        alt="User"
        class="header__user-icon" />
      <span class="header__user-name">Serati Ma</span>
    </p>
  </div>
</header>
