<div class="edit-employee">
  <!-- Tab navigation -->
  <ul class="edit-employee__tabs">
    <li
      [class.active]="activeTab === 'info'"
      (click)="setActiveTab('info')">
      Info
    </li>
    <li
      [class.active]="activeTab === 'cv'"
      (click)="setActiveTab('cv')">
      CV
    </li>
  </ul>

  <!-- Tab content -->
  <div class="edit-employee__content">
    <ng-container *ngIf="activeTab === 'info'">
      <!-- Employee form -->
      <app-employee-form
        *ngIf="employee$ | async as employee"
        [initialData]="employee"
        (formSubmit)="onSubmit($event)"
        (formCancel)="onCancel()" />
    </ng-container>

    <ng-container *ngIf="activeTab === 'cv'">
      <!-- CV content -->
      <app-employee-cv [employeeId]="employeeId" />
    </ng-container>
  </div>
</div>
