@import '../../../../../../assets/scss/helpers/variables.scss';
@import '../../../../../../assets/scss/helpers/placeholders.scss';
@import '../../../../../../assets/scss/helpers/mixins.scss';

.cv {
  &__form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 0;
  }

  &__field {
    @include flex-center(column, normal, normal);

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      grid-column: 1 / -1;
    }

    ::ng-deep .p-chips {
      display: inline;
    }

    ::ng-deep .p-chips-multiple-container {
      padding: 0.5rem;
    }

    ::ng-deep .p-inputtext {
      font-size: $input-font-size;
    }

    ::ng-deep .p-chips-input-token input {
      font-size: $input-font-size;
    }

    ::ng-deep .p-chips-token-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__label {
    color: $input-label-font-color;
    font-weight: $input-label-font-weight;
    margin-bottom: 0.5rem;
    font-size: $input-label-font-size;
  }

  &__input {
    @extend %input-styles;
  }

  &__error {
    color: $error-color;
    font-size: 1.2rem;
    height: 1.2rem;
    margin-top: 0.5rem;
    opacity: 0;
    @extend %transition;
  }

  &__error-visible {
    opacity: 1;
  }

  &__input-readonly {
    background-color: #f0f0f0;
    border-color: #ddd;
    color: #6c757d;
    cursor: not-allowed;
  }

  &__button {
    margin-top: 4rem;
    @include flex-center(row, end, normal);

    button {
      font-size: $btn-font-size;
      padding: 1rem 1.5rem;
      @include button-styles();

      &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
      }
    }
  }

  &__multiselect {
    width: 100%;

    ::ng-deep .p-multiselect,
    ::ng-deep .p-multiselect-filter,
    ::ng-deep .p-inputtext,
    ::ng-deep .p-component {
      font-size: 1.4rem;
    }

    ::ng-deep .p-multiselect {
      height: 3rem;
      width: 100%;
    }

    &-label {
      margin-top: 0;
      font-size: 1.4rem;
      color: $font-additional-color;
      margin-bottom: 1.5rem;
    }

    .project-item {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
  }
}

.employee {
  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 0;
  }
}
